<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | {{ site_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        {{ encore_entry_link_tags('core') }}
    {% endblock %}

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('bundles/kontrolgruppencore/images/apple-touch-icon-57x57.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/kontrolgruppencore/images/apple-touch-icon-114x114.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/kontrolgruppencore/images/apple-touch-icon-72x72.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/kontrolgruppencore/images/apple-touch-icon-144x144.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ asset('bundles/kontrolgruppencore/images/apple-touch-icon-60x60.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('bundles/kontrolgruppencore/images/apple-touch-icon-120x120.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset('bundles/kontrolgruppencore/images/apple-touch-icon-76x76.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('bundles/kontrolgruppencore/images/apple-touch-icon-152x152.png') }}"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/kontrolgruppencore/images/favicon-196x196.png') }}" sizes="196x196"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/kontrolgruppencore/images/favicon-96x96.png') }}" sizes="96x96"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/kontrolgruppencore/images/favicon-32x32.png') }}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/kontrolgruppencore/images/favicon-16x16.png') }}" sizes="16x16"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/kontrolgruppencore/images/favicon-128.png') }}" sizes="128x128"/>
    <meta name="application-name" content="{{ 'common.title'|trans }}"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="{{ asset('bundles/kontrolgruppencore/images/mstile-144x144.png') }}"/>
    <meta name="msapplication-square70x70logo" content="{{ asset('bundles/kontrolgruppencore/images/mstile-70x70.png') }}"/>
    <meta name="msapplication-square150x150logo" content="{{ asset('bundles/kontrolgruppencore/images/mstile-150x150.png') }}"/>
    <meta name="msapplication-wide310x150logo" content="{{ asset('bundles/kontrolgruppencore/images/mstile-310x150.png') }}"/>
    <meta name="msapplication-square310x310logo" content="{{ asset('bundles/kontrolgruppencore/images/mstile-310x310.png') }}"/>
    <script>
        {# Global translated messages #}
        {% set messages = {} %}
        {% for message in [
            'common.boolean.Yes',
            'common.boolean.No',
            'client.form.car.add',
            'client.form.car.remove',
            'client.form.company.add',
            'client.form.company.remove',
            'client.form.person.add',
            'client.form.person.remove',
            'prevent_cpr.cpr_in_content',
            'economy.revenue.remove',
        ] %}
        {% set messages = messages|merge({(message): message|trans}) %}
        {% endfor %}
        let kontrolgruppenMessages = {{ messages|json_encode|raw }};
    </script>
</head>
<body {% block body_attributes %}{% endblock %}>

{% block body %}
    {% block content %}{% endblock %}
    {% block sidebar_right %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('core') }}
{% endblock %}

{% if display_no_sensitive_information_warning == 'true' %}
    <style>
        body {
            padding-bottom: 56px;
        }
    </style>
    <nav class="navbar fixed-bottom bg-danger justify-content-center">
      <span class="navbar-text">
        <p class="text-light mb-0">
            <strong>{{ 'common.no_sensitive_information_warning'|trans }}</strong>
        </p>
      </span>
    </nav>
{% endif %}

</body>
</html>
