{% extends '@KontrolgruppenCore/main/index.html.twig' %}

{% block title %}{{ 'service.edit.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'service.edit.title'|trans }}</h1>

    {{ include('@KontrolgruppenCore/service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('service_index') }}" class="btn btn-light float-left">{{ 'common.back_to_list'|trans }}</a>

    {{ include('@KontrolgruppenCore/service/_delete_form.html.twig') }}
{% endblock %}
