{% extends 'main/index.html.twig' %}

{% block title %}{{ 'service.edit.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'service.edit.title'|trans }}</h1>

    {{ include('service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('service_index') }}">{{ 'common.back_to_list'|trans }}</a>

    {{ include('service/_delete_form.html.twig') }}
{% endblock %}
