{% extends 'main/index.html.twig' %}

{% block title %}{{ 'service.new.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'service.new.title'|trans }}</h1>

  {{ include('service/_form.html.twig') }}

    <a href="{{ path('service_index') }}">{{ 'common.back_to_list'|trans }}</a>
{% endblock %}
