{% extends '@KontrolgruppenCore/main/index.html.twig' %}

{% block title %}{{ 'export.show.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="mb-3">{{ 'export.show.title'|trans }}</h1>

    {{ table|raw }}

    {{ extra|raw }}

    <div class="col-sm-offset-2 col-sm-10">
        <a class="btn btn-primary" href="{{ path('export_index') }}">{{ 'common.actions.back'|trans }}</a>
    </div>
{% endblock %}
