{% extends '@KontrolgruppenCore/main/index.html.twig' %}

{% block title %}{{ 'quick_link.index.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="float-left">{{ 'quick_link.index.title'|trans }}</h1>
    <a href="{{ path('quick_link_new') }}" class="btn btn-success btn-lg float-right">{{ 'quick_link.btns.create_new'|trans }}</a>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-borderless thead-light">
            <thead>
            <tr>
                <th>{{ 'quick_link.table.name'|trans }}</th>
                <th>{{ 'quick_link.table.href'|trans }}</th>
                <th>{{ 'quick_link.table.weight'|trans }}</th>
                <th class="float-right">{{ 'common.table.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for quick_link in quick_links %}
                <tr>
                    <td>{{ quick_link.name }}</td>
                    <td>{{ quick_link.href }}</td>
                    <td>{{ quick_link.weight }}</td>
                    <td class="text-right">
                        <a href="{{ path('quick_link_show', {'id': quick_link.id}) }}" class="btn btn-sm btn-dark" data-toggle="tooltip" data-placement="top"
                           title="{{ 'common.actions.show'|trans }}">
                            <i class="fas {{ iconClass('show') }} fa-inverse"></i>
                        </a>
                        <a href="{{ path('quick_link_edit', {'id': quick_link.id}) }}" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"
                           title="{{ 'common.actions.edit'|trans }}">
                            <i class="fas {{ iconClass('edit') }} fa-inverse"></i></a>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'common.no_records_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
