{% extends '@KontrolgruppenCore/main/index.html.twig' %}

{% block title %}{{ 'quick_link.show.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'quick_link.show.title'|trans }}</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-borderless thead-light">
            <tbody>
            <tr>
                <th>{{ 'quick_link.table.name'|trans }}</th>
                <td>{{ quick_link.name }}</td>
            </tr>
            <tr>
                <th>{{ 'quick_link.table.href'|trans }}</th>
                <td>{{ quick_link.href }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <a href="{{ path('quick_link_index') }}" class="btn btn-light float-left">{{ 'common.back_to_list'|trans }}</a>

    <a href="{{ path('quick_link_edit', {'id': quick_link.id}) }}" class="btn btn-primary float-right pr-5 pl-5">{{ 'common.actions.edit'|trans }}</a>

    {{ include('@KontrolgruppenCore/quick_link/_delete_form.html.twig') }}
{% endblock %}
