{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block title %}{{ 'conclusion.edit.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'conclusion.edit.title'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    {% if canEdit %}
        <button class="btn btn-success float-right pl-5 pr-5">
            {{ (button_label is defined ? (form.vars.full_name ~ '.form.' ~ button_label|lower) : 'common.actions.save')|trans }}
        </button>
    {% endif %}

    {{ form_end(form) }}
{% endblock %}
