{% extends '@KontrolgruppenCore/main/index.html.twig' %}

{% block title %}{{ 'conclusion.edit.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'conclusion.edit.title'|trans }}</h1>

    {{ include('@KontrolgruppenCore/conclusion/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}

{% block sidebar_right %}
  {{ include('process/_sidebar_process_info.html.twig') }}
  {{ include('process/_sidebar_activity.html.twig') }}
{% endblock %}
