{% extends '@KontrolgruppenCore/main/index.html.twig' %}

{% block title %}{{ 'dashboard.index.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="mb-3">{{ 'dashboard.index.title'|trans }}</h1>

    {% if reminders|length > 0 %}
        <div class="mb-3">
            <h2><i class="fas {{ iconClass('reminder') }} mr-3"></i>{{ 'dashboard.reminders.title'|trans }} ({{ reminders|length }})</h2>
            {% include '@KontrolgruppenCore/reminder/_reminder_list.html.twig' with {reminders: reminders} %}
        </div>
    {% endif %}

    {% if myProcesses|length > 0 %}
        <div class="mb-3">
            <div class="row">
                <div class="col-10">
                    <h2 class="mb-3"><i class="fas {{ iconClass('process') }} mr-3"></i>{{ 'dashboard.my_processes.title'|trans }}</h2>
                </div>
                <div class="col-2">
                    <div class="float-right">
                        {{ form_start(myProcessesFilterForm, {'attr': {'class': 'form form-inline'}}) }}

                            {{ form_widget(myProcessesFilterForm.showCompleted) }}

                            {{ form_widget(myProcessesFilterForm.limit) }}

                        {{ form_end(myProcessesFilterForm) }}
                    </div>
                </div>
            </div>
            {% include '@KontrolgruppenCore/process/_process_list.html.twig' with {processes: myProcesses} %}
        </div>
    {% endif %}

    {% if unassignedProcesses|length > 0 %}
        <div class="mb-3">
            <h2 class="mb-3"><i
                    class="fas {{ iconClass('not-assigned') }} mr-3"></i>{{ 'dashboard.not_assigned.title'|trans }} ({{ unassignedProcesses|length }})
            </h2>
            {% include '@KontrolgruppenCore/process/_process_list.html.twig' with {processes: unassignedProcesses} %}
        </div>
    {% endif %}

    {% include '@KontrolgruppenCore/journal_entry/_modal_quick_view.html.twig' %}
{% endblock %}

{% block sidebar_right %}
    <div class="bg-warning-light p-3 mb-3">
        {% include '@KontrolgruppenCore/reminder/_reminder_list_future.html.twig' %}
    </div>

    {# TODO: Enable recentActivity #}
    {# {% include '@KontrolgruppenCore/process/_sidebar_activity.html.twig' %} #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('dashboard') }}
    {{ encore_entry_script_tags('reminderLatest') }}
    {{ encore_entry_script_tags('journalQuickview') }}
{% endblock %}
