{% extends '@KontrolgruppenCore/main/index.html.twig' %}

{% block title %}{{ 'process_type.index.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="float-left">{{ 'process_type.index.title'|trans }}</h1>
    <a href="{{ path('process_type_new') }}" class="btn btn-success btn-lg float-right">{{ 'process_type.btns.create_new'|trans }}</a>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-borderless thead-light">
            <thead>
            <tr>
                <th>{{ 'process_type.table.name'|trans }}</th>
                <th>{{ 'process_type.table.hide_in_dashboard'|trans }}</th>
                <th>{{ 'process_type.table.conclusion_class'|trans }}</th>
                <th>{{ 'process_type.table.net_default_value'|trans }}</th>
                <th class="float-right">{{ 'common.table.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for process_type in process_types %}
                <tr>
                    <td><a href="{{ path('process_type_show', {'id': process_type.id}) }}">{{ process_type.name }}</a></td>
                    <td>{{ process_type.hideInDashboard|yes_no }}</td>
                    <td>{{ conclusionClassTranslation(process_type.conclusionClass) }}</td>
                    <td class="text-right">
                        <a href="{{ path('process_type_show', {'id': process_type.id}) }}" class="btn btn-sm btn-dark" data-toggle="tooltip"
                           data-placement="top" title="{{ 'common.actions.show'|trans }}">
                            <i class="fas {{ iconClass('show') }} fa-inverse"></i>
                        </a>
                        <a href="{{ path('process_type_edit', {'id': process_type.id}) }}" class="btn btn-sm btn-primary" data-toggle="tooltip"
                           data-placement="top" title="{{ 'common.actions.edit'|trans }}">
                            <i class="fas {{ iconClass('edit') }} fa-inverse"></i></a>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'common.no_records_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
