{% extends '@KontrolgruppenCore/main/index.html.twig' %}

{% block title %}{{ 'process_type.show.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'process_type.show.title'|trans }}</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-borderless thead-light">
            <tbody>
            <tr>
                <th>{{ 'process_type.table.name'|trans }}</th>
                <td>{{ process_type.name }}</td>
            </tr>
            <tr>
                <th>{{ 'process_type.table.process_statuses'|trans }}</th>
                <td>
                    {% for processStatus in process_type.processStatuses %}
                        {{ processStatus }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ 'process_type.table.services'|trans }}</th>
                <td>
                    {% for service in process_type.services %}
                        {{ service }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ 'process_type.table.channels'|trans }}</th>
                <td>
                    {% for channel in process_type.channels %}
                        {{ channel }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ 'process_type.table.hide_in_dashboard'|trans }}</th>
                <td>
                    {{ process_type.hideInDashboard|yes_no }}
                </td>
            </tr>
            <tr>
                <th>{{ 'process_type.table.conclusion_class'|trans }}</th>
                <td>{{ conclusionClassTranslation(process_type.conclusionClass) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="{{ path('process_type_index') }}" class="btn btn-light float-left">{{ 'common.back_to_list'|trans }}</a>
    <a href="{{ path('process_type_edit', {'id': process_type.id}) }}" class="btn btn-primary float-right pl-5 pr-5">{{ 'common.actions.edit'|trans }}</a>
    {{ include('@KontrolgruppenCore/process_type/_delete_form.html.twig') }}
{% endblock %}
