{% extends '@KontrolgruppenCore/main/index.html.twig' %}

{% block title %}{{ 'process_status.index.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="float-left">{{ 'process_status.index.title'|trans }}</h1>
    <a href="{{ path('process_status_new') }}" class="btn btn-success float-right btn-lg">{{ 'process_status.btns.create_new'|trans }}</a>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-borderless thead-light">
            <thead>
            <tr>
                <th>{{ 'process_status.table.name'|trans }}</th>
                <th>{{ 'process_status.table.is_forward_to_another_authority'|trans }}</th>
                <th>{{ 'process_status.table.is_completing_status'|trans }}</th>
                <th>{{ 'process_status.table.process_types'|trans }}</th>
                <th class="float-right">{{ 'common.table.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for process_status in process_statuses %}
                <tr>
                    <td>{{ process_status.name }}</td>
                    <td>{{ process_status.isForwardToAnotherAuthority|yes_no }}</td>
                    <td>{{ process_status.isCompletingStatus|yes_no }}</td>
                    <td>
                        {% for processType in process_status.processTypes %}
                            {{ processType }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-right">
                        <a href="{{ path('process_status_show', {'id': process_status.id}) }}" class="btn btn-sm btn-dark" data-toggle="tooltip"
                           data-placement="top" title="{{ 'common.actions.show'|trans }}">
                            <i class="fas {{ iconClass('show') }} fa-inverse"></i>
                        </a>
                        <a href="{{ path('process_status_edit', {'id': process_status.id}) }}" class="btn btn-sm btn-primary" data-toggle="tooltip"
                           data-placement="top" title="{{ 'common.actions.edit'|trans }}">
                            <i class="fas {{ iconClass('edit') }} fa-inverse"></i></a>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'common.no_records_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
