{% extends '@KontrolgruppenCore/main/index.html.twig' %}

{% block title %}{{ 'process_status.new.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'process_status.new.title'|trans }}</h1>

    {{ include('@KontrolgruppenCore/process_status/_form.html.twig') }}

    <a href="{{ path('process_status_index') }}" class="btn btn-light float-left">{{ 'common.back_to_list'|trans }}</a>
{% endblock %}
