{% extends '@KontrolgruppenCore/main/index.html.twig' %}

{% block title %}{{ 'process_status.show.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'process_status.show.title'|trans }}</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-borderless thead-light">
            <tbody>
            <tr>
                <th>{{ 'process_status.table.name'|trans }}</th>
                <td>{{ process_status.name }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="{{ path('process_status_index') }}" class="btn btn-light float-left">{{ 'common.back_to_list'|trans }}</a>

    <a href="{{ path('process_status_edit', {'id': process_status.id}) }}" class="btn btn-primary float-right pr-5 pl-5">{{ 'common.actions.edit'|trans }}</a>

    {{ include('@KontrolgruppenCore/process_status/_delete_form.html.twig') }}
{% endblock %}
