{% block journal_entry_list %}
    {% set max_iterations = limit is defined ? min(journalEntries|length, limit) : journalEntries|length %}

    <div class="mb-3 p-3">
        {% for journalEntry in journalEntries|slice(0, max_iterations) %}
            <div class="mb-2">
                <div class="row bg-light">
                    <div class="col-2 pt-2">
                        <span class="text-muted d-block">{{ journalEntry.createdAt|localizeddate('short', 'none') }}</span>
                    </div>
                    <div class="col-8 pt-2">
                        <p class="mb-0"><strong><a
                                    href="{{ path('journal_entry_show', {'id': journalEntry.id, 'process': process.id}) }}">{{ journalEntry.title }}</a></strong>
                        </p>
                    </div>
                    <div class="col-2 pt-2 text-right">
                        {% if journalEntry.logs is defined and journalEntry.logs|length > 1 %}
                            <button class="btn btn-sm btn-secondary mb-1 js-revision-toggle" data-toggle="button"
                                    data-journal-id="{{ journalEntry.id }}" data-toggle="tooltip"
                                    title="{{ 'journal_entry.revision.actions.revisions'|trans }}">
                                <i class="fas {{ iconClass('layer-group') }} fa-inverse fa-fw"></i>{{ journalEntry.logs|length - 1 }}
                            </button>
                        {% endif %}
                        <a href="{{ path('journal_entry_show', {'id': journalEntry.id, 'process': process.id}) }}" class="btn btn-sm btn-dark mb-1"
                           data-toggle="tooltip"
                           data-placement="top" title="{{ 'common.actions.show'|trans }}">
                            <i class="fas {{ iconClass('show') }} fa-inverse fa-fw"></i>
                        </a>
                        <a href="{{ path('journal_entry_edit', {'id': journalEntry.id, 'process': process.id}) }}" class="btn btn-sm btn-primary mb-1"
                           data-toggle="tooltip"
                           data-placement="top" title="{{ 'common.actions.edit'|trans }}">
                            <i class="fas {{ iconClass('edit') }} fa-inverse fa-fw"></i></a>
                        </a>
                    </div>
                    <div class="col-2 pb-2">
                        <span class="text-muted d-block">{{ journalEntry.createdBy }}</span>
                        {% if journalEntry.type == 'NOTE' %}
                            <span class="badge badge-info">{{ 'common.enum.journal_entry.note'|trans }}</span>
                        {% elseif journalEntry.type == 'INTERNAL_NOTE' %}
                            <span class="badge badge-warning">{{ 'common.enum.journal_entry.internal_note'|trans }}</span>
                        {% endif %}
                    </div>
                    <div class="col-10 pb-2">
                        {{ journalEntry.body|raw }}
                    </div>
                </div>
                {% if journalEntry.logs is defined and journalEntry.logs|length > 1 %}
                    <div class="row bg-light">
                        <div class="col mt-2">
                            {% include '@KontrolgruppenCore/journal_entry/_log_entries.html.twig' with {show: false} %}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% else %}
            {{ 'common.no_records_found'|trans }}
        {% endfor %}
    </div>
{% endblock %}
