{% set show = (show is defined) ? show : true %}

{% if journalEntry.logs is defined %}
<div class="row">
    <div class="col">
        <div class="bg-light p-3">
            <div class="js-revision-list" data-journal-id="{{ journalEntry.id }}" style="{% if not show %}display: none; {% endif %}">
                <h3>{{ 'journal_entry.revision.headline'|trans }}</h3>
                <div class="table-responsive">
                    <table class="table table-sm table-borderless small">
                        <thead>
                        <tr>
                            <th class="w-10">{{ 'journal_entry.revision.table.date'|trans }}</th>
                            <th class="w-10">{{ 'journal_entry.revision.table.action'|trans }}</th>
                            <th class="w-10">{{ 'journal_entry.revision.table.change_key'|trans }}</th>
                            <th>{{ 'journal_entry.revision.table.change'|trans }}</th>
                        </tr>
                        </thead>
                        {% for log in journalEntry.logs %}
                            <tr>
                            <td>{{ log.loggedAt|simple_date('short') }}</td>
                            <td>{{ ('journal_entry.revision.action_type.' ~ (log.action|lower))|trans }}</td>

                            {% for changeKey, change in log.data %}
                                {% if not loop.first %}
                                    <tr>
                                    <td colspan="2"></td>
                                {% endif %}
                                <td>{{ ('journal_entry.revision.change_key.' ~ (changeKey|lower))|trans }}</td>
                                <td>{{ change|raw }}</td>
                                {% if not loop.first %}
                                    </tr>
                                {% endif %}
                            {% endfor %}

                            {% if loop.last %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
