{% extends 'main/index.html.twig' %}

{% block title %}{{ 'journal_entry.index.title'|trans }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="float-left">{{ 'journal_entry.index.title'|trans }}</h1>
      <a href="{{ path('journal_entry_new', {'process': process.id}) }}" class="btn btn-success btn-lg float-right">{{ 'common.actions.create'|trans }}</a>
    </div>
  </div>

  <div class="form form-inline">
    <form method="get" action="." >
      {{ form_rest(form) }}
    </form>
    <div class="form-group">
      <label for="pagination-sort-select" class="sr-only">{{ 'journal_entry.table.filter.sort_label'|trans }}</label>
      <select id="pagination-sort-select" class="form-control form-control-sm">
        {{ knp_pagination_sortable(pagination, 'journal_entry.table.filter.sort_asc'|trans, 'e.id', { }, {'direction': 'asc'}, '@KontrolgruppenCore/main/sortable_option.html.twig') }}
        {{ knp_pagination_sortable(pagination, 'journal_entry.table.filter.sort_desc'|trans, 'e.id', { }, {'direction': 'desc'}, '@KontrolgruppenCore/main/sortable_option.html.twig') }}
      </select>
    </div>
  </div>

  {% include '@KontrolgruppenCore/journal_entry/_journal_entry_list_pagination.html.twig' %}

{% endblock %}

{% block sidebar_right %}
  {{ include('process/_sidebar_process_info.html.twig') }}
  {{ include('process/_sidebar_activity.html.twig') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript" src="{{ asset('bundles/kontrolgruppencore/build/processFilters.js') }}"></script>

  <script type="text/javascript">
    $('#pagination-sort-select').on('change', function () {
      window.location.href = $(this).find('option:selected').attr('href');
    });
  </script>
{% endblock %}
