{% extends 'main/index.html.twig' %}

{% block title %}{{ 'journal_entry.index.title'|trans }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="float-left">{{ 'journal_entry.index.title'|trans }}</h1>
      <a href="{{ path('journal_entry_new', {'process': process.id}) }}" class="btn btn-success btn-lg float-right">{{ 'common.actions.create'|trans }}</a>
    </div>
  </div>

  {% include '@KontrolgruppenCore/journal_entry/_journal_entry_list.html.twig' %}

{% endblock %}

{% block sidebar_right %}
  {{ include('process/_sidebar_process_info.html.twig') }}
  {{ include('process/_sidebar_activity.html.twig') }}
{% endblock %}
