{% extends 'main/index.html.twig' %}

{% block title %}{{ 'journal_entry.show.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'journal_entry.show.title'|trans }}</h1>

    <div class="table-responsive">
      <table class="table table-striped table-hover table-borderless thead-light">
          <tbody>
          <tr>
              <th>{{ 'journal_entry.table.id'|trans }}</th>
              <td>{{ journalEntry.id }}</td>
          </tr>
          <tr>
              <th>{{ 'journal_entry.table.type'|trans }}</th>
              <td>{{ journalEntry.type|readable_enum|trans }}</td>
          </tr>
          <tr>
              <th>{{ 'journal_entry.table.title'|trans }}</th>
              <td>{{ journalEntry.title }}</td>
          </tr>
          <tr>
              <th>{{ 'journal_entry.table.body'|trans }}</th>
              <td>{{ journalEntry.body|raw }}</td>
          </tr>
          </tbody>
      </table>
    </div>
    <a href="{{ path('journal_entry_index', {'process': process.id}) }}" class="btn btn-light float-left">{{ 'common.back_to_list'|trans }}</a>

    <a href="{{ path('journal_entry_edit', {'id': journalEntry.id, 'process': process.id}) }}" class="btn btn-primary float-right pr-5 pl-5">{{ 'common.actions.edit'|trans }}</a>

    {{ include('journal_entry/_delete_form.html.twig') }}
{% endblock %}

{% block sidebar_right %}
  {# {{ include('process/_sidebar_process_type.html.twig') }} TODO: Enable #}
  {{ include('process/_sidebar_process_info.html.twig') }}
  {{ include('process/_sidebar_activity.html.twig') }}
{% endblock %}
