{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block title %}{{ 'journal_entry.show.title'|trans }}{% endblock %}

{% block content %}
    <span class="text-muted">{{ 'journal_entry.show.title'|trans }}</span>

    <h1>{{ journalEntry.title }}</h1>

    <span class="badge badge-dark mb-3">{{ journalEntry.type|readable_enum|trans }}</span>

    <div class="row">
        <div class="col">
            {{ journalEntry.body|raw }}
        </div>
    </div>

    <hr>

    <a href="{{ path('journal_entry_index', {'process': process.id}) }}" class="btn btn-light float-left">{{ 'common.back_to_list'|trans }}</a>
    {% if canEdit %}
        <a href="{{ path('journal_entry_edit', {'id': journalEntry.id, 'process': process.id}) }}"
           class="btn btn-primary float-right pr-5 pl-5">{{ 'common.actions.edit'|trans }}</a>

        {{ include('@KontrolgruppenCore/journal_entry/_delete_form.html.twig') }}
    {% endif %}

    {% include '@KontrolgruppenCore/journal_entry/_log_entries.html.twig' %}

{% endblock %}
