{% extends '@KontrolgruppenCore/main/index.html.twig' %}

{% block content %}
  <div class="js-search-text" data-search="{{ search }}">
    {{ 'search.results_for'|trans }}: "{{ search }}"
  </div>

  <div class="search-result">
    {% include '@KontrolgruppenCore/search/_search_process.html.twig' %}
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript" src="{{ asset('bundles/kontrolgruppencore/build/searchPage.js') }}"></script>
{% endblock %}
