{% extends '@KontrolgruppenCore/main/index.html.twig' %}

{% block content %}
    <h1>{{ 'search.headline'|trans }}</h1>
    <div class="js-search-text" data-search="{{ search }}">
        <h2>{{ 'search.results_for'|trans({'%searchTerm%': search, '%numberOfResults%': pagination.getTotalItemCount}) }}</h2>
    </div>

    <div class="search-result">
        {% include '@KontrolgruppenCore/search/_search_process.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('searchPage') }}
{% endblock %}
