<ul class="list-group">
    {% if amount is defined %}
    <li class="list-group-item">
        {{ 'process_log.revision.table.log_entry.base_economy_entry.amount'|trans }}: {{ amount|localizedcurrency('DKK') }}
    </li>
    {% endif %}
    {% if type is defined %}
    <li class="list-group-item">
        {{ 'process_log.revision.table.log_entry.base_economy_entry.type'|trans }}: {{ ('process_log.revision.table.log_entry.base_economy_entry.' ~ type|lower)|trans }}
    </li>
    {% endif %}
    {% if text is defined %}
    <li class="list-group-item">
        {{ 'process_log.revision.table.log_entry.base_economy_entry.text'|trans }}: {{ text }}
    </li>
    {% endif %}
    {% if date is defined %}
    <li class="list-group-item">
        {{ 'process_log.revision.table.log_entry.base_economy_entry.date'|trans }}: {{ date|simple_date('long') }}
    </li>
    {% endif %}
</ul>
