<ul class="list-group">
    {% if amount is defined %}
        <li class="list-group-item">
            {{ 'process_log.revision.table.log_entry.income_economy.amount'|trans }}: {{ amount|localizedcurrency('DKK') }}
        </li>
    {% endif %}
    {% if type is defined %}
        <li class="list-group-item">
            {{ 'process_log.revision.table.log_entry.income_economy.type'|trans }}: {{ ('process_log.revision.table.log_entry.income_economy_entry.' ~ type|lower)|trans }}
        </li>
    {% endif %}
    {% if amountPeriod is defined %}
        <li class="list-group-item">
            {{ 'process_log.revision.table.log_entry.service_economy_entry.amount_period'|trans }}: {{ enumTranslation(amountPeriod, 'EconomyEntryAmountPeriodEnumType') }}
        </li>
    {% endif %}
    {% if periodFrom is defined %}
        <li class="list-group-item">
            {{ 'process_log.revision.table.log_entry.service_economy_entry.period_from'|trans }}: {{ periodFrom ? periodFrom|simple_date('long') }}
        </li>
    {% endif %}
    {% if periodTo is defined %}
        <li class="list-group-item">
            {{ 'process_log.revision.table.log_entry.service_economy_entry.period_to'|trans }}: {{ periodTo ? periodTo|simple_date('long') }}
        </li>
    {% endif %}
</ul>
