<ul class="list-group">
    <li class="list-group-item">
        {{ 'process_log.revision.table.log_entry.reminder.message'|trans }}: {{ message ?: '-' }}
    </li>
    <li class="list-group-item">
        {{ 'process_log.revision.table.log_entry.reminder.date'|trans }}: {{ date|date('d-m-Y h:m') }}
    </li>
    <li class="list-group-item">
        {{ 'process_log.revision.table.log_entry.reminder.finished'|trans }}: {{ finished|yes_no }}
    </li>
</ul>
