<ul class="list-group">
    {% if amount is defined %}
    <li class="list-group-item">
        {{ 'process_log.revision.table.log_entry.service_economy_entry.amount'|trans }}: {{ amount|localizedcurrency('DKK') }}
    </li>
    {% endif %}
    {% if type is defined %}
    <li class="list-group-item">
        {{ 'process_log.revision.table.log_entry.service_economy_entry.type'|trans }}: {{ ('process_log.revision.table.log_entry.service_economy_entry.' ~ type|lower)|trans }}
    </li>
    {% endif %}
    {% if amountPeriod is defined %}
    <li class="list-group-item">
        {{ 'process_log.revision.table.log_entry.service_economy_entry.amount_period'|trans }}: {{ enumTranslation(amountPeriod, 'EconomyEntryAmountPeriodEnumType') }}
    </li>
    {% endif %}
    {% if repayment_amount is defined %}
    <li class="list-group-item">
        {{ 'process_log.revision.table.log_entry.service_economy_entry.repayment_amount'|trans }}: {{ repayment_amount|localizedcurrency('DKK') }}
    </li>
    {% endif %}
    {% if periodFrom is defined %}
    <li class="list-group-item">
        {{ 'process_log.revision.table.log_entry.service_economy_entry.period_from'|trans }}: {{ periodFrom|simple_date('long') }}
    </li>
    {% endif %}
    {% if periodTo is defined %}
    <li class="list-group-item">
        {{ 'process_log.revision.table.log_entry.service_economy_entry.period_to'|trans }}: {{ periodTo|simple_date('long') }}
    </li>
    {% endif %}
</ul>
