<ul class="list-group">
    <li class="list-group-item">
        {{ 'process_log.revision.table.log_entry.weighted_conclusion.arguments_for'|trans }}: {{ argumentsFor ?: '-' }}
    </li>
    <li class="list-group-item">
        {{ 'process_log.revision.table.log_entry.weighted_conclusion.arguments_against'|trans }}: {{ argumentsAgainst ?: '-' }}
    </li>
    <li class="list-group-item">
        {{ 'process_log.revision.table.log_entry.weighted_conclusion.conclusion'|trans }}: {{ conclusion ?: '-' }}
    </li>
</ul>
