{% extends 'main/index.html.twig' %}

{% block title %}{{ 'channel.index.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'channel.index.title'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'channel.table.id'|trans }}</th>
                <th>{{ 'channel.table.name'|trans }}</th>
                <th>{{ 'common.table.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for channel in channels %}
            <tr>
                <td>{{ channel.id }}</td>
                <td>{{ channel.name }}</td>
                <td>
                    <a href="{{ path('channel_show', {'id': channel.id}) }}">{{ 'common.actions.show'|trans }}</a>
                    <a href="{{ path('channel_edit', {'id': channel.id}) }}">{{ 'common.actions.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'common.no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('channel_new') }}">{{ 'common.actions.create'|trans }}</a>
{% endblock %}
