<ul class="list-group">
    <li class="list-group-item">
        {{ 'process.revision.table.log_entry.client.first_name'|trans }}: {{ firstName ?: '-' }}
    </li>
    <li class="list-group-item">
        {{ 'process.revision.table.log_entry.client.last_name'|trans }}: {{ lastName ?: '-' }}
    </li>
    <li class="list-group-item">
        {{ 'process.revision.table.log_entry.client.address'|trans }}: {{ address ?: '-' }}
    </li>
    <li class="list-group-item">
        {{ 'process.revision.table.log_entry.client.postal_code'|trans }}: {{ postalCode ?: '-' }}
    </li>
    <li class="list-group-item">
        {{ 'process.revision.table.log_entry.client.city'|trans }}: {{ city ?: '-' }}
    </li>
    <li class="list-group-item">
        {{ 'process.revision.table.log_entry.client.telephone'|trans }}: {{ telephone ?: '-' }}
    </li>
    <li class="list-group-item">
        {{ 'process.revision.table.log_entry.client.number_of_children'|trans }}: {{ numberOfChildren ?: '-' }}
    </li>
    <li class="list-group-item">
        {{ 'process.revision.table.log_entry.client.car_registration_number'|trans }}: {{ carRegistrationNumber ?: '-' }}
    </li>
</ul>
