<ul class="list-group">
    <li class="list-group-item">
        {{ 'process.revision.table.log_entry.journal_entry.title'|trans }}: {{ title ?: '-' }}
    </li>
    <li class="list-group-item">
        {{ 'process.revision.table.log_entry.journal_entry.body'|trans }}: {{ body ?: '-' }}
    </li>
    <li class="list-group-item">
        {{ 'process.revision.table.log_entry.journal_entry.type'|trans }}: {{ enumTranslation(type, 'JournalEntryEnumType') }}
    </li>
</ul>
