<div class="modal fade" id="future-savings-modal-{{ revenueForm.vars.value }}" tabindex="-1"role="dialog" aria-labelledby="future_savings_datepicker_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-header" id="future_savings_datepicker_modal_label">{{ 'economy.table.revenue.future_savings_period'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="overflow:hidden">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="datepicker_from" class="datepicker-period datepicker-from" data-target-input="#{{ revenueForm.futureSavingsPeriodFrom.vars.id }}"></div>
                            </div>
                            <div class="col-md-4">
                                <div id="datepicker_to" class="datepicker-period datepicker-to"  data-target-input="#{{ revenueForm.futureSavingsPeriodTo.vars.id }}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'common.actions.close'|trans }}</button>
                <button type="button" class="btn btn-primary future_savings_period_datepicker_save">{{ 'common.actions.save'|trans }}</button>
            </div>
        </div>
    </div>
</div>
