<div id="empty-period-error-message" data-message="{{ 'economy.table.revenue.missing_period'|trans }}"></div>

<div id="revenue-calculation-table-success" class="alert alert-success d-none" role="alert">
    {{ 'economy.table.revenue.success'|trans }}
</div>

<div id="revenue-calculation-table-error" class="alert alert-danger d-none" role="alert">
    {{ 'economy.table.revenue.error'|trans }}
</div>

<div class="table-responsive">
    <table id="revenue-calculation-table" class="table table-striped table-hover table-borderless thead-light">
        <thead>
        <tr>
            <th class="w-auto">{{ 'economy.table.revenue_entry.service'|trans }}</th>
            <th class="w-auto">{{ 'economy.table.revenue_entry.type'|trans }}</th>
            <th class="w-auto">{{ 'economy.table.revenue_entry.amount'|trans }}</th>
            <th class="w-auto">{{ 'economy.table.revenue_entry.future_savings_type'|trans }}</th>
            <th class="w-auto"></th>
        </tr>
        </thead>
        <tbody>
        {% for groupName, forms in revenueEntryForms %}
            {% for revenueForm in forms %}
                <tr>
                    {{ form_start(revenueForm, {'attr': {'class': 'form-row'}}) }}

                    <td>{{ loop.first ? groupName : '' }}</td>
                    <td>{{ form_widget(revenueForm.type) }}</td>
                    <td>{{ form_widget(revenueForm.amount) }}</td>
                    <td>{{ form_widget(revenueForm.futureSavingsType) }}</td>
                    <td>
                        {% if canEdit %}
                            <button>Action</button>
                        {% endif %}
                    </td>

                    {{ form_end(revenueForm) }}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7">{{ 'common.no_records_found'|trans }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
