{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block title %}{{ 'revenue.title'|trans }}{% endblock %}

{% block content %}
    {% if revenue is defined %}
        <div class="row">
            <div class="col">
                <h1>{{ 'revenue.title'|trans }}</h1>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-borderless thead-light">
                <tbody>
                {% if revenue.repaymentSums|length > 0 %}
                    <tr>
                        <th>{{ 'revenue.table.repayment.sum_title'|trans }}</th>
                        <th class="w-20 text-right">{{ revenue.repaymentSum|localizedcurrency('DKK') }}</th>
                    </tr>
                    <tr>
                        <td>{{ 'revenue.table.repayment.net_sum_title'|trans }}</td>
                        <td class="text-right">{{ revenue.netRepaymentSum|localizedcurrency('DKK') }}</td>
                    </tr>
                    {% for key,data in revenue.repaymentSums %}
                        <tr>
                            <td>{{ key }} ({{ data.netPercentage }}%)</td>
                            <td class="text-right">{{ data.sum|localizedcurrency('DKK') }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">{{ 'revenue.table.repayment.no_records_found'|trans }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-borderless thead-light">
                <tbody>
                {% if revenue.futureSavingsSums|length > 0 %}
                    <tr>
                        <th>{{ 'revenue.table.future_savings.sum_title'|trans }}</th>
                        <th class="w-20 text-right">{{ revenue.futureSavingsSum|localizedcurrency('DKK') }}</th>
                    </tr>
                    <tr>
                        <td>{{ 'revenue.table.future_savings.net_sum_title'|trans }}</td>
                        <td class="text-right">{{ revenue.netFutureSavingsSum|localizedcurrency('DKK') }}</td>
                    </tr>
                    {% for key,data in revenue.futureSavingsSums %}
                        <tr>
                            <td>{{ key }} ({{ data.netPercentage }}%)</td>
                            <td class="text-right">{{ data.sum|localizedcurrency('DKK') }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">{{ 'revenue.table.future_savings.no_records_found'|trans }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-borderless thead-light">
                <tbody>
                <tr>
                    <th>{{ 'revenue.table.collective_net_sum.title'|trans }}</th>
                    <th class="w-20 text-right">{{ revenue.netCollectiveSum|localizedcurrency('DKK') }}</th>
                </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
