{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block title %}{{ 'revenue.title'|trans }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {% if revenue is defined %}
        {# @TODO: Styling #}

        <div>
            <i>{{ 'revenue.subtitle'|trans }}</i>
        </div>
        <div>
            <i>{{ 'revenue.net_multiplier'|trans }}: {{ revenue.netMultiplier|localizednumber('percent') }}</i>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover table-borderless thead-light">
                <tbody>
                {% if revenue.repaymentSums|length > 0 %}
                    <tr>
                        <td><strong>{{ 'revenue.table.repayment.sum_title'|trans }}</strong></td>
                        <td class="text-right table-column-size-10"><strong>{{ revenue.repaymentSum|localizedcurrency('DKK') }}</strong></td>
                    </tr>
                    <tr>
                        <td><i>{{ 'revenue.table.repayment.net_sum_title'|trans }}</i></td>
                        <td class="text-right table-column-size-10"><i>{{ revenue.netRepaymentSum|localizedcurrency('DKK') }}</i></td>
                    </tr>
                    {% for key,repaymentSum in revenue.repaymentSums %}
                        <tr>
                            <td>{{ key }}</td>
                            <td class="text-right table-column-size-10">{{ repaymentSum|localizedcurrency('DKK') }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">{{ 'revenue.table.repayment.no_records_found'|trans }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover table-borderless thead-light">
                <tbody>
                {% if revenue.futureSavingsSums|length > 0 %}
                    <tr>
                        <td><strong>{{ 'revenue.table.future_savings.sum_title'|trans }}</strong></td>
                        <td class="text-right table-column-size-10"><strong>{{ revenue.futureSavingsSum|localizedcurrency('DKK') }}</strong></td>
                    </tr>
                    <tr>
                        <td><i>{{ 'revenue.table.future_savings.net_sum_title'|trans }}</i></td>
                        <td class="text-right table-column-size-10"><i>{{ revenue.netFutureSavingsSum|localizedcurrency('DKK') }}</i></td>
                    </tr>
                    {% for key,futureSavingsSum in revenue.futureSavingsSums %}
                        <tr>
                            <td>{{ key }}</td>
                            <td class="text-right table-column-size-10">{{ futureSavingsSum|localizedcurrency('DKK') }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">{{ 'revenue.table.future_savings.no_records_found'|trans }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover table-borderless thead-light">
                <tbody>
                <tr>
                    <td><strong>{{ 'revenue.table.collective_net_sum.title'|trans }}</strong></td>
                    <td class="text-right table-column-size-10"><strong>{{ revenue.collectiveNetSum|localizedcurrency('DKK') }}</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
{% endblock %}
