{{ form_start(form) }}

    <h2>{{ 'client.sections.generel_info'|trans }}</h2>
    <div class="row">
        <div class="col-12 col-sm-6">
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.telephone) }}
        </div>
        <div class="col-12 col-sm-6">
            {{ form_row(form.address) }}
            <div class="row">
                <div class="col-4">
                    {{ form_row(form.postalCode) }}
                </div>
                <div class="col-8">
                    {{ form_row(form.city) }}
                </div>
            </div>
            {{ form_row(form.numberOfChildren) }}
        </div>
    </div>
    <h2>{{ 'client.sections.employment'|trans }}</h2>
    <div class="row">
        <div class="col-12">
            <div class="form-group row">
                {{ form_label(form.receivesPublicAid, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.receivesPublicAid) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.employed, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.employed) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.hasOwnCompany, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.hasOwnCompany) }}
                </div>
            </div>
        </div>
    </div>
    <h2>{{ 'client.sections.generel_info'|trans }}</h2>
    <div class="row">
        <div class="col-12">
            <div class="form-group row">
                {{ form_label(form.hasDriversLicense, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.hasDriversLicense) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.hasCar, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.hasCar) }}
                </div>
            </div>
        </div>
        <div class="col-12">
            <h3>{{ form_label(form.cars) }}</h3>
            <ul class="cars list-group mb-3" data-prototype="{{ form_widget(form.cars.vars.prototype)|e('html_attr') }}">
                {% for car in form.cars %}
                    <li class="list-group-item">{{ form_row(car) }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12">
            <h3>{{ form_label(form.companies) }}</h3>
            <ul class="companies list-group mb-3" data-prototype="{{ form_widget(form.companies.vars.prototype)|e('html_attr') }}">
                {% for company in form.companies %}
                    <li class="list-group-item">{{ form_row(company) }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
<button
    class="btn btn-success float-right pl-5 pr-5">{{ (button_label is defined ? (form.vars.full_name ~ '.form.' ~ button_label|lower) : 'common.actions.save')|trans }}</button>
{{ form_end(form) }}
