{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block title %}{{ 'client.show.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'client.show.title'|trans }}</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-borderless thead-light">
            <tbody>
            <tr>
                <th>{{ 'client.table.cpr'|trans }}</th>
                <td>{{ client.process.clientCPR }}</td>
            </tr>
            <tr>
                <th>{{ 'client.table.first_name'|trans }}</th>
                <td>{{ client.firstName }}</td>
            </tr>
            <tr>
                <th>{{ 'client.table.last_name'|trans }}</th>
                <td>{{ client.lastName }}</td>
            </tr>
            <tr>
                <th>{{ 'client.table.address'|trans }}</th>
                <td>{{ client.address }}</td>
            </tr>
            <tr>
                <th>{{ 'client.table.postal_code'|trans }}</th>
                <td>{{ client.postalCode }}</td>
            </tr>
            <tr>
                <th>{{ 'client.table.city'|trans }}</th>
                <td>{{ client.city }}</td>
            </tr>
            <tr>
                <th>{{ 'client.table.telephone'|trans }}</th>
                <td>{{ client.telephone }}</td>
            </tr>
            <tr>
                <th>{{ 'client.table.number_of_children'|trans }}</th>
                <td>{{ client.numberOfChildren }}</td>
            </tr>
            <tr>
                <th>{{ 'client.table.self_employed'|trans }}</th>
                <td>{{ client.selfEmployed }}</td>
            </tr>
            <tr>
                <th>{{ 'client.table.works_in_major_company'|trans }}</th>
                <td>{{ client.worksInMajorCompany }}</td>
            </tr>
            <tr>
                <th>{{ 'client.table.not_employed'|trans }}</th>
                <td>{{ client.notEmployed }}</td>
            </tr>
            <tr>
                <th>{{ 'client.table.cars'|trans }}</th>
                <td>
                    <ul class="list-group">
                        {% for car in client.cars %}
                            <li class="list-group-item">
                                <div>{{ car.registrationNumber }}</div>
                                <div>{{ 'client.table.car.shared_ownership'|trans }}: {{ car.sharedOwnership|yes_no }}</div>
                                <div>{{ car.notes }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <a href="{{ path('client_edit', {'process': process.id}) }}" class="btn btn-primary float-right pl-5 pr-5">{{ 'common.actions.edit'|trans }}</a>
{% endblock %}
