{% extends '@KontrolgruppenCore/main/index.html.twig' %}

{% block title %}{{ 'account.show.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'account.show.title'|trans }}</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-borderless thead-light">
            <tbody>
            <tr>
                <th>{{ 'account.table.name'|trans }}</th>
                <td>{{ account.name }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <a href="{{ path('account_index') }}" class="btn btn-light float-left">{{ 'common.back_to_list'|trans }}</a>

    <a href="{{ path('account_edit', {'id': account.id}) }}" class="btn btn-primary float-right pr-5 pl-5">{{ 'common.actions.edit'|trans }}</a>

    {{ include('@KontrolgruppenCore/account/_delete_form.html.twig') }}
{% endblock %}
