{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block title %}{{ 'economy.revenue.title'|trans }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {% if revenue is defined %}
        {% include '@KontrolgruppenCore/economy/_revenue_table.html.twig' with {economyEntries: revenue.repayment.entries } %}

        <div>
            {{ revenue.repayment.sum }}
        </div>

        <div>
            {{ revenue.repayment.netto }}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
{% endblock %}
