{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block title %}{{ 'economy.show.title'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="float-left">{{ 'economy.show.title'|trans }}</h1>

            {% if canEdit %}
                <span data-toggle="collapse" data-target="#economyEntryNew" aria-expanded="{{ collapse_economy_entry_form ? 'false' : 'true' }}">
                    <button data-toggle="button" aria-pressed="{{ collapse_economy_entry_form ? 'false' : 'true' }}"
                            class="btn btn-success btn-lg float-right">
                        <span class="show">{{ 'economy.actions.create'|trans }}</span>
                        <span class="hide">{{ 'journal_entry.actions.hide'|trans }}</span>
                    </button>
                </span>
            {% endif %}
        </div>
        {% if showOnlyAdminCanEditWarning %}
            <div class="alert alert-danger col-12">
                {{ 'economy.only_admin_can_edit_warning'|trans }}
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12">
            {% if process.completedAt %}
                <div class="alert alert-warning">{{ 'process.completed_message'|trans }}</div>
            {% endif %}

            {% if canEdit %}
                <div class="col-12 collapse {{ collapse_economy_entry_form ? '' : 'show' }}" id="economyEntryNew">
                    <div class="bg-light border-bottom p-3 mb-3">
                        {# This consists of two forms #}

                        {# This form decides which economy entry type is created #}
                        {{ form_start(economy_entry_form) }}
                        {{ form_widget(economy_entry_form) }}
                        {{ form_end(economy_entry_form) }}

                        <div id="js-economy-form-spinner" class="spinner-border spinner-border-sm" style="display: none" role="status">
                            <span class="sr-only">{{ 'search.loading_results'|trans }}</span>
                        </div>

                        {# When an economy entry type has been chosen, this entity form becomes added #}
                        {% if form is defined %}
                            {% include '@KontrolgruppenCore/economy_entry/_form.html.twig' %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <h2>{{ 'economy.headline.economy_entries_service'|trans }}</h2>
    {% include '@KontrolgruppenCore/economy_entry/_economy_entry_service_table.html.twig' with {economyEntries: economyEntriesService} %}

    <h2>{{ 'economy.headline.economy_entries_income'|trans }}</h2>
    {% include '@KontrolgruppenCore/economy_entry/_economy_entry_income_table.html.twig' with {economyEntries: economyEntriesIncome} %}

    <h2>{{ 'economy.headline.economy_entries_account'|trans }}</h2>
    {% include '@KontrolgruppenCore/economy_entry/_economy_entry_base_table.html.twig' with {economyEntries: economyEntriesAccount} %}

    <h2>{{ 'economy.headline.revenue_calculation'|trans }}</h2>
    {% include '@KontrolgruppenCore/revenue/_revenue_form.html.twig' with {revenueForm: revenueForm, services: services, canEdit: canEdit} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('addEconomyEntry') }}

    <script type="text/javascript">
        window.REVENUE_FORM_CAN_EDIT = {{ canEdit ? 'true' : 'false' }};
    </script>
    {{ encore_entry_script_tags('revenueForm') }}
{% endblock %}
