{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block title %}{{ 'economy.show.title'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="float-left">{{ 'economy.show.title'|trans }}</h1>
            <button data-toggle="collapse" data-target="#economyEntryNew" aria-expanded="{{ collapse_economy_entry_form }}"
                    class="btn btn-success btn-lg float-right">{{ 'economy.actions.create'|trans }}</button>
        </div>
        <div class="col-12 collapse {{ collapse_economy_entry_form ? '' : 'show' }}" id="economyEntryNew">
            <div class="bg-light border-bottom p-3 mb-3">
                {# This consists of two forms #}

                {# This form decides which economy entry type is created #}
                {{ form_start(economy_entry_form) }}
                {{ form_widget(economy_entry_form) }}
                {{ form_end(economy_entry_form) }}

                <div id="js-economy-form-spinner" class="spinner-border spinner-border-sm" style="display: none" role="status">
                    <span class="sr-only">{{ 'search.loading_results'|trans }}</span>
                </div>

                {# When an economy entry type has been chosen, this entity form becomes added #}
                {% if form is defined %}
                    {% include '@KontrolgruppenCore/economy_entry/_form.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>

    <h2>{{ 'economy.headline.economy_entries_service'|trans }}</h2>
    {% include '@KontrolgruppenCore/economy_entry/_economy_entry_service_table.html.twig' with {economyEntries: economyEntriesService} %}

    <h2>{{ 'economy.headline.economy_entries_income'|trans }}</h2>
    {% include '@KontrolgruppenCore/economy_entry/_economy_entry_income_table.html.twig' with {economyEntries: economyEntriesIncome} %}


    <h2>{{ 'economy.headline.economy_entries_account'|trans }}</h2>
    {% include '@KontrolgruppenCore/economy_entry/_economy_entry_base_table.html.twig' with {economyEntries: economyEntriesAccount} %}

    <h2>{{ 'economy.headline.revenue_calculation'|trans }}</h2>
    {% include '@KontrolgruppenCore/revenue/calculation.html.twig' with {revenueForms: revenueForms} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {

            $('#economy_entry_type').change(function () {
                $(this).closest('form').submit();
                $('#base_economy_entry').hide();
                $('#service_economy_entry').hide();
                $('#js-economy-form-spinner').show();
            });

            // Apply datetimepicker to all js-datepicker elements.
            $('.js-datepicker').datetimepicker();

            $('#service_economy_entry_datepicker').click(function() {

                $('#service_economy_entry_datepicker_modal').modal();
            });

            $('#income_economy_entry_datepicker').click(function() {

                $('#income_economy_entry_datepicker_modal').modal();
            });

            $('.datepicker-period').datetimepicker({
                inline: true,
                format: 'L',
                useCurrent: false,
                defaultDate: false,
            });

            $('#datepicker_from').on('change.datetimepicker', function(e) {
                $('#datepicker_to').datetimepicker('minDate', e.date);
            });

            $('#datepicker_to').on('change.datetimepicker', function(e) {
                $('#datepicker_from').datetimepicker('maxDate', e.date);
            });

            $('#datepicker_period_save').click(function() {

                if ($('#service_economy_entry_periodFrom').val()) {
                    let from = $('#service_economy_entry_periodFrom').val();
                    let to = $('#service_economy_entry_periodTo').val();

                    $('#service_economy_entry_datepicker').text(from + ' - ' + to);

                    $('#service_economy_entry_datepicker_modal').modal('toggle');
                }

                if ($('#income_economy_entry_periodFrom').val()) {
                    let from = $('#income_economy_entry_periodFrom').val();
                    let to = $('#income_economy_entry_periodTo').val();

                    $('#income_economy_entry_datepicker').text(from + ' - ' + to);

                    $('#income_economy_entry_datepicker_modal').modal('toggle');
                }
            });

            let futureSavingsInput;
            let futureSavingsModalId;
            let repaymentInput;
            let repaymentModalId;

            $('.future-savings-datepicker').click(function() {

                futureSavingsInput = $(this);
                futureSavingsModalId = futureSavingsInput.data('target-modal');

                $(futureSavingsModalId).modal();
            });

            $('.repayment-datepicker').click(function() {

                repaymentInput = $(this);
                repaymentModalId = repaymentInput.data('target-modal');

                $(repaymentModalId).modal();
            });

            $('.future_savings_period_datepicker_save').click(function(event) {

                let from = $(futureSavingsInput.data('target-input-from')).val();
                let to = $(futureSavingsInput.data('target-input-to')).val();

                futureSavingsInput.text(from + ' - ' + to);

                $(futureSavingsModalId).modal('toggle');
            });

            $('.repayment_period_datepicker_save').click(function(event) {

                let from = $(repaymentInput.data('target-input-from')).val();
                let to = $(repaymentInput.data('target-input-to')).val();

                repaymentInput.text(from + ' - ' + to);

                $(repaymentModalId).modal('toggle');
            });

            $('select.readonly option:not(:selected)').attr('disabled', true);
            $('select:not([readonly]) option').removeAttr('disabled');
        });
    </script>
{% endblock %}
