{% set max_iterations = limit is defined ? min(reminders|length, limit) : reminders|length %}
{% for reminder in reminders|slice(0, max_iterations) %}
  <div class="{% if not reminder.finished and reminder.date|date('Y-m-d') < "now"|date('Y-m-d') %}bg-warning{% endif %}">
    <a href="{{ path('reminder_show', {'id': reminder.id, 'process': reminder.process.id}) }}">
      Dato:{{ reminder.date ? reminder.date|date('Y-m-d H:i:s') : '' }} Sag: {{ reminder.process.caseNumber }}
      <i class="fas {{ iconClass('process') }} mr-3"></i>{{ reminder.message }}
    </a>
  </div>
{% else %}
  <div>
    <p>{{ 'common.no_records_found'|trans }}</p>
  </div>
{% endfor %}

