<div class="list-group">
    {% for day,dateReminders in reminders %}
        <span>{{ day|simple_date('short') }}</span>
        {% for reminder in dateReminders %}
            <a href="{{ path('reminder_show', {'id': reminder.id, 'process': reminder.process.id}) }}"
               class="list-group-item list-group-item-action list-group-item-warning{% if not reminder.finished and reminder.date|date('d-m-Y') < "now"|date('d-m-Y') %}list-group-item-warning{% endif %}">
                <span class="d-block float-left text-muted">kl. {{ reminder.date|date('H:i') }}</span>
                <span class="d-block float-right text-muted">{{ 'process.show.title'|trans }}: {{ reminder.process.caseNumber }}</span>
                <span class="d-block w-100 float-left text-dark"><i class="fas {{ iconClass('process') }} mr-3"></i>{{ reminder.message }}</span>
            </a>
        {% else %}
            <li class="list-group-item">{{ 'common.no_records_found'|trans }}</li>
        {% endfor %}
    {% endfor %}
</div>
