{% extends 'main/index.html.twig' %}

{% block title %}{{ 'reminder.new.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'reminder.new.title'|trans }}</h1>

    {{ include('reminder/_form.html.twig') }}

    <a href="{{ path('reminder_index', {process: process.id}) }}">{{ 'common.back_to_list'|trans }}</a>
{% endblock %}

{% block sidebar_right %}
  TODO: Include process status and process summary
  {{ include('process/_sidebar_activity.html.twig') }}
{% endblock %}
