{% extends 'main/index.html.twig' %}

{% block title %}{{ 'reminder.index.title'|trans }}{% endblock %}

{% block content %}
  <h1>{{ 'reminder.index.title'|trans }}</h1>

  {% include '@KontrolgruppenCore/reminder/_reminder_table.html.twig' with { reminders: reminders } %}

  {% if process is defined %}
    <a href="{{ path('reminder_new', {'process': process.id}) }}">{{ 'common.actions.create'|trans }}</a>
  {% endif %}
{% endblock %}

{% block sidebar_right %}
  {# {{ include('process/_sidebar_process_type.html.twig') }} TODO: Enable #}
  {{ include('process/_sidebar_process_info.html.twig') }}
  {{ include('process/_sidebar_activity.html.twig') }}
{% endblock %}
