{% extends 'base.html.twig' %}

{% block title %}RevenueEntry index{% endblock %}

{% block body %}
    <h1>RevenueEntry index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Type</th>
                <th>FutureSavingsType</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for revenue_entry in revenue_entries %}
            <tr>
                <td>{{ revenue_entry.id }}</td>
                <td>{{ revenue_entry.amount }}</td>
                <td>{{ revenue_entry.type }}</td>
                <td>{{ revenue_entry.futureSavingsType }}</td>
                <td>
                    <a href="{{ path('revenue_entry_show', {'id': revenue_entry.id}) }}">show</a>
                    <a href="{{ path('revenue_entry_edit', {'id': revenue_entry.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('revenue_entry_new') }}">Create new</a>
{% endblock %}
