<h2>{{ 'process_report.report.client.title'|trans }}</h2>

<table>
    <tbody>
        <tr>
            <th class="w-30">{{ 'process_report.report.client.first_name'|trans }}:</th>
            <td>{{ process.client.firstName ?: '-' }}</td>
        </tr>
        <tr>
            <th>{{ 'process_report.report.client.last_name'|trans }}:</th>
            <td>{{ process.client.lastName ?: '-' }}</td>
        </tr>
        <tr>
            <th>{{ 'process_report.report.client.cpr'|trans }}:</th>
            <td>{{ process.clientCPR }}</td>
        </tr>
        <tr>
            <th>{{ 'process_report.report.client.address'|trans }}:</th>
            <td>{{ process.client.address ?: '-' }}</td>
        </tr>
        <tr>
            <th>{{ 'process_report.report.client.postal_code'|trans }}:</th>
            <td>{{ process.client.postalCode ?: '-' }}</td>
        </tr>
        <tr>
            <th>{{ 'process_report.report.client.telephone'|trans }}:</th>
            <td>{{ process.client.telephone ?: '-' }}</td>
        </tr>
        <tr>
            <th>{{ 'process_report.report.client.number_of_children'|trans }}:</th>
            <td>{{ process.client.numberOfChildren ?: '-' }}</td>
        </tr>
        <tr>
            <th>{{ 'process_report.report.client.receives_public_aid'|trans }}:</th>
            <td>{{ process.client.receivesPublicAid|yes_no }}</td>
        </tr>
        <tr>
            <th>{{ 'process_report.report.client.employed'|trans }}:</th>
            <td>{{ process.client.employed|yes_no }}</td>
        </tr>
        <tr>
            <th>{{ 'process_report.report.client.has_own_company'|trans }}:</th>
            <td>{{ process.client.hasOwnCompany|yes_no }}</td>
        </tr>
        <tr>
            <th>{{ 'process_report.report.client.has_drivers_license'|trans }}:</th>
            <td>{{ process.client.hasDriversLicense|yes_no }}</td>
        </tr>
        <tr class="last">
            <th>{{ 'process_report.report.client.has_car'|trans }}:</th>
            <td>{{ process.client.hasCar|yes_no }}</td>
        </tr>
    </tbody>
</table>
