<table class="border striped text-small">
    <thead>
        <tr>
            <th class="w-20">{{ 'process_report.report.economy.base.account'|trans }}</th>
            <th class="w-20">{{ 'process_report.report.economy.base.account_number'|trans }}</th>
            <th class="w-15">{{ 'process_report.report.economy.base.date'|trans }}</th>
            <th style="text-align: right;">{{ 'process_report.report.economy.base.amount'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for economyEntry in economyEntries %}
        <tr>
            <td>{{ economyEntry.account.name }}</td>
            <td>{{ economyEntry.accountNumber }}</td>
            <td>
                {% if economyEntry.date is not null %}
                    {{ economyEntry.date|localizeddate('short', 'none') }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td class="text-right">{{ economyEntry.amount|localizedcurrency('DKK') }}</td>
        </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'common.no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
