<table>
    <tbody>
        <tr>
            <td>
                <h4>{{ 'process_report.report.conclusion.weighted.arguments_for'|trans }}</h4>
                <p>{{ process.conclusion.argumentsFor|raw }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <h4>{{ 'process_report.report.conclusion.weighted.arguments_against'|trans }}</h4>
                <p>{{ process.conclusion.argumentsAgainst|raw }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <h4>{{ 'process_report.report.conclusion.weighted.conclusion'|trans }}</h4>
                <p>{{ process.conclusion.conclusion|raw }}</p>
            </td>
        </tr>
    </tbody>
</table>
