<table class="table table-dark table-sm">
    <thead>
        <th>{{ 'process.revision.table.log_entry.type'|trans }}</th>
        {% for changeKey, change in log.logEntry.data %}
        <th>
            {{ ('process.revision.table.log_entry.' ~ camelCaseToUnderscore((log.logEntry.objectClass|split('\\')|last)) ~ '.' ~ camelCaseToUnderscore(changeKey))|trans }}
        </th>
        {% endfor %}
    </thead>
    <tbody>
        <td>{{ ('process.revision.table.object_types.' ~ camelCaseToUnderscore((log.logEntry.objectClass|split('\\')|last)))|trans }}</td>
        {% for changeKey, change in log.logEntry.data %}
            {% if change is iterable %}
                <td>{{ change.name }}</td>
            {% else %}
                <td>{{ change }}</td>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
