{% block process_list %}
    {% set max_iterations = limit is defined ? min(processes|length, limit) : processes|length %}

    <div class="table-responsive">
        <table class="table table-striped table-hover table-borderless">
            <thead class="small">
                <tr>
                    <th>{{ 'process.table.case_number'|trans }}</th>
                    <th class="d-none d-sm-table-cell">{{ 'process.table.process_type'|trans }}</th>
                    <th>{{ 'process.table.client_cpr'|trans }}</th>
                    <th>{{ 'process.table.client_name'|trans }}</th>
                    <th class="d-none d-lg-table-cell">{{ 'process.table.case_worker'|trans }}</th>
                    <th class="d-none d-lg-table-cell">{{ 'process.table.channel'|trans }}</th>
                    <th class="d-none d-sm-table-cell">{{ 'process.table.service'|trans }}</th>
                    <th class="text-right">{{ 'common.table.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for process in processes|slice(0, max_iterations) %}
                <tr{% if not process.visitedByCaseWorker() %} class="not-visited"{% endif %}>
                    <td>
                        <a href="{{ path('process_show', {'id': process.id}) }}" class="mr-1">{{ process.caseNumber }}</a>
                        {% if process.completedAt %}
                            <span class="badge badge-secondary">{{ 'process.complete.process_completed'|trans }}</span>
                        {% endif %}
                    </td>
                    <td class="d-none d-sm-table-cell">{{ process.processType }}</td>
                    <td>{{ process.clientCPR }}</td>
                    <td>{{ process.client.firstName }} {{ process.client.lastName }}</td>
                    <td class="d-none d-lg-table-cell">{{ process.caseWorker }}</td>
                    <td class="d-none d-xl-table-cell">{{ process.channel }}</td>
                    <td class="d-none d-lg-table-cell">{{ process.service }}</td>
                    <td class="text-right">
                        {% include '@KontrolgruppenCore/process/_process_actions.html.twig' %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">{{ 'common.no_records_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
