<div class="row">
    <div class="col-12">

        <div class="btn-group" role="group" aria-label="Process actions">
            {% if is_granted('edit', process) %}
                {% if not process.completedAt %}
                    <a href="{{ path('reminder_new', {'process': process.id}) }}" class="btn btn-sm btn-outline-warning text-truncate"><i
                            class="fas {{ iconClass('reminder') }} mr-2"></i>{{ 'reminder.btns.create'|trans }}</a>
                {% endif %}
            {% endif %}
            <a href="{{ path('process_report_index', {'process': process.id}) }}" class="btn btn-sm btn-outline-secondary text-truncate"><i
                    class="fas {{ iconClass('report') }} mr-2"></i>{{ 'process.btns.create_report'|trans }}</a>
            {% if is_granted('edit', process) %}
                {% if not process.completedAt %}
                    <a href="{{ path('process_complete', {'id': process.id}) }}" class="btn btn-sm btn-outline-danger text-truncate"><i
                            class="fas {{ iconClass('process-complete') }} mr-2"></i>{{ 'process.btns.complete'|trans }}</a>
                {% else %}
                    <a href="{{ path('process_resume', {'id': process.id}) }}" class="btn btn-sm btn-outline-danger text-truncate"><i
                            class="fas {{ iconClass('process-resume') }} mr-2"></i>{{ 'process.btns.resume'|trans }}</a>
                {% endif %}
            {% endif %}
        </div>

        {% if process is defined %}
            {% if not process.completedAt and is_granted('edit', process) %}
                {% if changeProcessStatusForm is defined %}
                    {{ form(changeProcessStatusForm, {'attr': {'id': 'process_status_form', 'class': 'mt-2'}}) }}
                {% endif %}
            {% else %}
                <div class="bg-light rounded-sm p-3 mt-2 mb-2">
                    {{ process.processStatus }}
                </div>
            {% endif %}
        {% endif %}

    </div>
</div>
