<div class="bg-light p-3 mb-3">
    <div class="list-group">
        {% if recentActivity is defined %}
            {% for log in recentActivity %}
                <a href="{{ urlToProcessRelatedClass(log.logEntry.objectClass, log.logEntry.objectId, log.process.id) }}" class="list-group-item list-group-item-action list-group-item-light">
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <span class="text-muted small">{{ log.logEntry.loggedAt|simple_date('short') }}</span>
                        </div>
                        {# TODO: Hide case number when on a given case. #}
                        <div class="col-12 col-xl-6">
                            <span class="text-muted small">{{ 'process.show.title'|trans }}: {{ log.process.caseNumber }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span class="text-dark"><i class="fas {{ iconClass('process') }} mr-3"></i>{{ ('process_log.revision.table.object_types.' ~ camelCaseToUnderscore((log.logEntry.objectClass|split('\\')|last)))|trans }} {{ ('process_log.revision.action_type.' ~ (log.logEntry.action|lower))|trans }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>
