{% extends '@KontrolgruppenCore/main/index.html.twig' %}

{% block title %}{{ 'process.index.title'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="float-left">{{ 'process.index.title'|trans }}</h1>
            <a href="{{ path('process_new') }}" class="btn btn-success btn-lg float-right">{{ 'process.btns.create_new'|trans }}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="float-left">
                <form method="get" action="." class="form form-inline">
                    {{ form_rest(form) }}
                </form>
            </div>
            {# Add js-process-table-results class to hide the count when leading data #}
            <div class="float-right js-process-table-results">
                {% set pagination_data = pagination.paginationData|default(null) %}
                {% if pagination_data and pagination_data.totalCount > 0 %}
                    {{ 'process.index.pagination_info'|trans({
                        '%start%': (pagination_data.current - 1) * pagination_data.numItemsPerPage + 1,
                        '%end%': min(pagination_data.current * pagination_data.numItemsPerPage, pagination.getTotalItemCount),
                        '%total%': pagination_data.totalCount
                        }) }}
                {% endif %}
            </div>
        </div>
    </div>

    {% include '@KontrolgruppenCore/process/_process_table_pagination.html.twig' %}

    {% include '@KontrolgruppenCore/journal_entry/_modal_quick_view.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('processFilters') }}
    {{ encore_entry_script_tags('journalQuickview') }}
{% endblock %}
