{% extends 'main/index.html.twig' %}

{% block title %}{{ 'process.index.title'|trans }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="float-left">{{ 'process.index.title'|trans }}</h1>
      <a href="{{ path('process_new') }}" class="btn btn-success btn-lg float-right">{{ 'common.actions.create'|trans }}</a>
    </div>
  </div>

  <form method="get" action=".">
    {{ form_rest(form) }}
  </form>

  {% include '@KontrolgruppenCore/process/_process_table_pagination.html.twig' %}

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript" src="{{ asset('bundles/kontrolgruppencore/build/processFilters.js') }}"></script>
{% endblock %}
