{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block title %}{{ 'process.index.title'|trans }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="float-left">{{ 'process.index.title'|trans }}</h1>
      <a href="{{ path('process_new') }}" class="btn btn-success btn-lg float-right">{{ 'common.actions.create'|trans }}</a>
    </div>
  </div>

  <form method="get" action="." class="form form-inline">
    {{ form_rest(form) }}
  </form>

  {% include '@KontrolgruppenCore/process/_process_table_pagination.html.twig' %}

  {% include '@KontrolgruppenCore/journal_entry/_modal_quick_view.html.twig' %}
{% endblock %}

{% block sidebar_right %}
  {{ include('@KontrolgruppenCore/process/_sidebar_activity.html.twig') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript" src="{{ asset('bundles/kontrolgruppencore/build/processFilters.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/kontrolgruppencore/build/journalQuickview.js') }}"></script>
{% endblock %}
