{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block title %}{{ 'process.new.title'|trans }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <h1>{{ 'process.new.title'|trans }}</h1>

      {{ include('@KontrolgruppenCore/process/_form.html.twig') }}

      <a href="{{ path('process_index') }}" class="btn btn-light float-left">{{ 'common.back_to_list'|trans }}</a>
    </div>
  </div>
{% endblock %}

