{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block title %}{{ 'process.show.title'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="float-left">{{ 'process.show.title'|trans }} {{ process.caseNumber }}</h1>
        </div>
    </div>

    {% if process.completedAt %}
        <div class="alert alert-warning">{{ 'process.completed_message'|trans }}</div>
    {% endif %}

    <div class="row">
        <div class="col">
            <div class="bg-light border pt-3 pr-3 pl-3 mb-3">
                <div class="row">
                    <div class="col-6 col-lg-3">
                        <dl class="row">
                            <dd class="col-sm-12 text-muted mb-0 pb-0">{{ 'common.table.created_at'|trans }}</dd>
                            <dt class="col-sm-12">{{ process.createdAt|simple_date('short') }}</dt>
                        </dl>
                    </div>
                    <div class="col-6 col-lg-3">
                        <dl class="row">
                            <dd class="col-sm-12 text-muted mb-0 pb-0">{{ 'common.table.updated_at'|trans }}</dd>
                            <dt class="col-sm-12">{{ process.updatedAt|simple_date('short') }} {{ 'common.table.by'|trans }} {{ process.updatedBy }}</dt>
                        </dl>
                    </div>
                    <div class="col-6 col-lg-3">
                        <dl class="row">
                            <dd class="col-sm-12 text-muted mb-0 pb-0">{{ 'process.table.case_worker'|trans }}</dd>
                            <dt class="col-sm-12">{% if process.caseWorker %}<span data-toggle="tooltip" data-placement="top" title="{{ process.caseWorker.name }}">{{ process.caseWorker }}</span>{% endif %}</dt>
                        </dl>
                    </div>
                    <div class="col-6 col-lg-3">
                        <dl class="row">
                            <dd class="col-sm-12 text-muted mb-0 pb-0">{{ 'process.table.process_type'|trans }}</dd>
                            <dt class="col-sm-12">{{ process.processType }}</dt>
                        </dl>
                    </div>
                    <div class="col-6 col-lg-3">
                        <dl class="row">
                            <dd class="col-sm-12 text-muted mb-0 pb-0">{{ 'process.table.channel'|trans }}</dd>
                            <dt class="col-sm-12">{{ process.channel }}</dt>
                        </dl>
                    </div>
                    <div class="col-6 col-lg-3">
                        <dl class="row">
                            <dd class="col-sm-12 text-muted mb-0 pb-0">{{ 'process.table.service'|trans }}</dd>
                            <dt class="col-sm-12">{{ process.service }}</dt>
                        </dl>
                    </div>
                    <div class="col-6 col-lg-3">
                        <dl class="row">
                            <dd class="col-sm-12 text-muted mb-0 pb-0">{{ 'process.table.police_report'|trans }}</dd>
                            <dt class="col-sm-12">{{ process.policeReport|yes_no }}</dt>
                        </dl>
                    </div>
                    <div class="col-6 col-lg-3">
                        <dl class="row">
                            <dd class="col-sm-12 text-muted mb-0 pb-0">{{ 'process.table.court_decision'|trans }}</dd>
                            {% if process.courtDecision is not null %}
                                <dt class="col-sm-12">{{ process.courtDecision ? 'court_decision.true'|trans : 'court_decision.false'|trans }}</dt>
                            {% endif %}
                        </dl>
                    </div>
                    <div class="col-6 col-lg-3">
                        <dl class="row">
                            <dd class="col-sm-12 text-muted mb-0 pb-0">{{ 'process.table.relations'|trans }}</dd>
                            <ul class="list-inline col-sm-12">
                                {% for process_group in process.processGroups %}
                                    <li class="list-inline-item"><a href="{{ path('process_group_index', {'process': process}) }}">{{ process_group.name }}</a</li>
                                {% else %}
                                    <li class="list-inline-item">{{ 'common.no_records_found'|trans }}</li>
                                {% endfor %}
                            </ul>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="float-left">{{ 'process.table.journal'|trans }}</h2>
            {% if not process.completedAt %}
                {% if is_granted('edit', process) %}
                    <a href="{{ path('journal_entry_new', {'process': process.id}) }}"
                        class="btn btn-success btn-sm float-right">{{ 'journal_entry.new.title'|trans }}</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-12">
            {% include '@KontrolgruppenCore/journal_entry/_journal_entry_headline_list.html.twig'  with { journalEntries: latestJournalEntries } %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="{{ path('process_index') }}" class="btn btn-light float-left">{{ 'common.back_to_list'|trans }}</a>
            {% if not process.completedAt %}
                {% if is_granted('edit', process) %}
                    <a href="{{ path('process_edit', {'id': process.id}) }}" class="btn btn-primary float-right pl-5 pr-5">{{ 'process.edit.title'|trans }}</a>
                {% endif %}
                {% if is_granted('delete', process) %}
                    {{ include('@KontrolgruppenCore/process/_delete_form.html.twig') }}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
