{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark fixed-top bg-dark p-0 shadow navbar-expand-lg">
        <a class="navbar-brand col-auto col-sm-3 col-md-2 col-lg-2 mr-0" href="/">
            <i class="fas fa-house-damage text-white mr-sm-3" title="{{ site_name }}"></i>
            <span class="d-none d-md-inline">{{ site_name }}</span>
        </a>
        {% block navigation_main %}
            <form class="kontrolgruppen-global-search col-6 col-lg-3 col-xl-4 form">
                {% if is_granted('ROLE_SEARCH') %}
                    <input class="form-control form-control-dark rounded-pill" type="search" placeholder="{{ 'navigation.main.search'|trans }}"
                        aria-label="{{ 'navigation.main.search'|trans }}">
                {% endif %}
            </form>

            <button class="navbar-toggler mr-1" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse col-lg-7 col-xl-6" id="navbarNav">
                {% if globalMenuItems|default(false) %}
                    <ul class="navbar-nav ml-0 ml-lg-auto p-3 p-lg-0">
                        {% if is_granted(['ROLE_SAGSBEHANDLER']) %}
                            <li class="nav-item dropdown mr-0 mr-sm-3 mb-3 mb-lg-0">
                                <a class="btn btn-sm btn-light dropdown-toggle btn-block" href="#" id="navbarQuicklinksDropdown" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    {{ 'navigation.main.quick_links'|trans }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarQuicklinksDropdown">
                                    {% for quickLink in quickLinks %}
                                        <a class="dropdown-item" href="{{ quickLink.href }}" target="_blank">{{ quickLink.name }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endif %}

                        {% block globalmenu_mobile %}
                            {% for globalMenuItem in globalMenuItems %}
                                <li class="nav-item d-lg-none">
                                    <a class="nav-link" href="{{ globalMenuItem.path }}">
                                        <i class="fas {{ globalMenuItem.icon }} text-light mr-3 mr-lg-none"></i>{{ globalMenuItem.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endblock %}

                        {% block navigation_mobile %}
                            {% if menuItems is defined %}
                                {% for menuItem in menuItems %}
                                    {% if menuItem.hide_from_mobile_menu is not defined or not menuItem.hide_from_mobile_menu %}
                                        <li class="nav-item d-lg-none">
                                            <a class="nav-link{{ menuItem.active ? ' active' : '' }}" href="{{ menuItem.path }}">
                                                {{ menuItem.name }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endblock %}

                        {% if is_granted(['ROLE_SAGSBEHANDLER']) %}
                            <li class="nav-item mr-0 mr-sm-3 mb-3 mb-lg-0">
                                <a class="btn btn-sm btn-success btn-block" role="button" href="{{ path('process_new') }}">{{ 'navigation.main.new_process'|trans }}</a>
                            </li>

                            <li class="nav-item mr-0 mr-sm-3 mb-3 mb-lg-0">
                                <a class="btn {% if activeUserReminders|length > 0 %}btn-warning{% else %}btn-secondary{% endif %} btn-sm btn-block " data-toggle="tooltip" title="{{ 'dashboard.reminders.title'|trans }}"
                                    href="{{ path('user_reminder_all') }}" role="button">
                                    <i class="fas {{ iconClass('reminder') }} mr-2"></i><strong>{{ 'navigation.main.reminders.number_of_reminders'|trans({'%numberOfReminders%': activeUserReminders}) }}</strong>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}

                {% if app.user.username|default(false) %}
                    <span class="nav-text text-muted p-2">
                        <i class="fas {{ iconClass('user') }} mr-2"></i><span class="app-username">{{ app.user.username }}</span>
                    </span>
                {% endif %}
            </div>
        {% endblock %}
    </nav>

    <div class="container-fluid main-container">
        <div class="row">
            <div class="d-flex w-100 flex-column flex-lg-row">

                {% if globalMenuItems|default(false) %}
                    <nav class="d-none d-lg-flex bg-dark">
                        {% block globalmenu_sidebar %}
                            <div class="globalmenu">
                                <ul class="nav flex-column">
                                    {% for globalMenuItem in globalMenuItems %}
                                        <li class="nav-item">
                                            <a class="nav-link{{ globalMenuItem.active ? ' active' : '' }}" href="{{ globalMenuItem.path }}"
                                               data-toggle="tooltip" data-placement="right" title="{{ globalMenuItem.tooltip }}">
                                                <i class="fas {{ globalMenuItem.icon }} fa-fw"></i><span class="sr-only">{{ globalMenuItem.name }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endblock %}
                    </nav>
                {% endif %}

                {% block navigation_sidebar %}
                    {% if menuItems is defined %}
                        <nav class="d-none d-lg-flex bg-light p-3">
                            <div class="sidebar-sticky">
                                <ul class="nav flex-column nav-pills">
                                    {% for menuItem in menuItems %}
                                        <li class="nav-item">
                                            <a class="nav-link{{ menuItem.active ? ' active' : '' }}{{ menuItem.disabled ? ' disabled' : '' }}"
                                               href="{{ menuItem.path }}" {{ menuItem.disabled ? 'tabindex="-1" aria-disabled="true"' : '' }}>
                                                {{ menuItem.name }}
                                                {% if process is defined and menuItem.name == 'reminder.index.title'|trans %}
                                                    <span class="badge badge-secondary">{{ process.reminders|length }}</span>
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </nav>
                    {% endif %}
                {% endblock %}

                <main role="main" class="d-flex d-md-block order-md-1 order-lg-0 flex-shrink-1 flex-grow-1 flex-column w-100 w-lg-70 p-3">
                    <div class="row">
                        <div class="col-12">
                            {% block flash_messages %}
                                {% for label, messages in app.flashes %}
                                    {% set raw = label matches '/^raw[:-]/' %}
                                    {% if raw %}
                                        {% set label = label[4:] %}
                                    {% endif %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ label }}">
                                            {{ raw ? message|raw : message }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endblock %}
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </main>

                {% set _sidebar_right = block('sidebar_right') %}
                {% if _sidebar_right is not empty %}
                    <aside role="sidebar-right" class="sidebar-right d-none d-md-block order-md-0 order-lg-1 d-lg-flex flex-lg-column flex-grow-1 p-3 w100 w-lg-30">
                        {{ _sidebar_right|raw }}
                    </aside>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('globalSearch') }}
{% endblock %}
