{% extends '@KontrolgruppenCore/main/index.html.twig' %}

{% block title %}{{ 'forwarded_to_authority.index.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="float-left">{{ 'forwarded_to_authority.index.title'|trans }}</h1>
    <a href="{{ path('forwarded_to_authority_new') }}" class="btn btn-success float-right btn-lg">{{ 'forwarded_to_authority.btns.create_new'|trans }}</a>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-borderless thead-light">
            <thead>
            <tr>
                <th>{{ 'forwarded_to_authority.table.client_types'|trans }}</th>
                <th>{{ 'forwarded_to_authority.table.name'|trans }}</th>
                <th class="float-right">{{ 'common.table.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for forwarded_to_authority in forwarded_to_authorities %}
                <tr>
                    <td>{{ forwarded_to_authority.clientTypes|process_client_types }}</td>
                    <td>{{ forwarded_to_authority.name }}</td>
                    <td class="text-right">
                        <a href="{{ path('forwarded_to_authority_show', {'id': forwarded_to_authority.id}) }}" class="btn btn-sm btn-dark" data-toggle="tooltip" data-placement="top"
                           title="{{ 'common.actions.show'|trans }}">
                            <i class="fas {{ iconClass('show') }} fa-inverse"></i>
                        </a>
                        <a href="{{ path('forwarded_to_authority_edit', {'id': forwarded_to_authority.id}) }}" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"
                           title="{{ 'common.actions.edit'|trans }}">
                            <i class="fas {{ iconClass('edit') }} fa-inverse"></i></a>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ 'common.no_records_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
